################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net9.0/CalculoBasesAIE.pdb
/obj/Debug/net9.0/ref/CalculoBasesAIE.dll
/.vs/CalculoBasesAIE/DesignTimeBuild/.dtbcache.v2
/.vs/CalculoBasesAIE/FileContentIndex/24e317dd-c78e-4857-98a3-76d21cef5878.vsidx
/.vs/CalculoBasesAIE/FileContentIndex/2de6cb22-80cd-434c-83db-4cb807634f38.vsidx
/.vs/CalculoBasesAIE/FileContentIndex/3a546d80-a4d0-4866-8055-9c4c4fcdc481.vsidx
/.vs/CalculoBasesAIE/FileContentIndex/b797902c-e88a-4f3b-9441-251411a123ca.vsidx
/.vs/CalculoBasesAIE/FileContentIndex/fd215c9a-63fc-45c6-92d7-9521e0f8e2a8.vsidx
/.vs/CalculoBasesAIE/v17/.futdcache.v2
/.vs/CalculoBasesAIE/v17/.suo
/.vs/CalculoBasesAIE/v17/DocumentLayout.backup.json
/.vs/CalculoBasesAIE/v17/DocumentLayout.json
/.vs/ProjectEvaluation/calculobasesaie.metadata.v9.bin
/.vs/ProjectEvaluation/calculobasesaie.projects.v9.bin
/.vs/ProjectEvaluation/calculobasesaie.strings.v9.bin
/bin/Debug/net9.0/CalculoBasesAIE.dll
/bin/Debug/net9.0/CalculoBasesAIE.exe
/bin/Debug/net9.0/CalculoBasesAIE.pdb
/obj/project.nuget.cache
/obj/project.assets.json
/obj/CalculoBasesAIE.csproj.nuget.dgspec.json
/obj/Debug/net9.0/ApiEndpoints.json
/obj/Debug/net9.0/refint/CalculoBasesAIE.dll
/obj/Debug/net9.0/CalculoBasesAIE.sourcelink.json
/obj/Debug/net9.0/CalculoBasesAIE.dll
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/CalculoBasesAIE.AssemblyInfo.cs
/obj/Debug/net9.0/CalculoBasesAIE.AssemblyInfoInputs.cache
/obj/Debug/net9.0/CalculoBasesAIE.csproj.CoreCompileInputs.cache
