################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net9.0/CalculoBasesAIE.pdb
/obj/Debug/net9.0/ref/CalculoBasesAIE.dll
/.vs/CalculoBasesAIE/DesignTimeBuild/.dtbcache.v2
/.vs/CalculoBasesAIE/FileContentIndex
/.vs/CalculoBasesAIE/v17/.futdcache.v2
/.vs/CalculoBasesAIE/v17/.suo
/.vs/CalculoBasesAIE/v17/DocumentLayout.backup.json
/.vs/CalculoBasesAIE/v17/DocumentLayout.json
/.vs/ProjectEvaluation/calculobasesaie.metadata.v9.bin
/.vs/ProjectEvaluation/calculobasesaie.projects.v9.bin
/.vs/ProjectEvaluation/calculobasesaie.strings.v9.bin
/bin/Debug/net9.0/CalculoBasesAIE.dll
/bin/Debug/net9.0/CalculoBasesAIE.exe
/bin/Debug/net9.0/CalculoBasesAIE.pdb
/obj
